.Faq{
    text-align: center;
    padding: 2em 0 4em;
}

.description{
    color: var(--grey);
    line-height: 180%;
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0.5rem auto 3rem;
    padding: 0n 20px;
    width: 100%;
    letter-spacing: 2px;
}